builder='hvm'
memory = 6988
vcpus=8
# only use the cores 8-15
#cpus="all,^0-7"
vcpus = '2'
#cpus="13-15,^0-12"
name = "linux"
vif = ['bridge=virbr0']
disk = ['phy:/dev/vg0/linuxguest,hda,w','file:/home/mabez/xen/iso/arch-anywhere-2.2.9-x86_64.iso,hdc:cdrom,r']
acpi = 1
device_model_version = 'qemu-xen'
boot="c"
# Pass through pci devices here
# pci = [ '0000:28:00.0', '0000:28:00.1' ]
sdl=0
serial='pty'


#usb=1
#usbdevice = ['host:1b1c:1b12', 'host:1b1c:1b13', 'host:0a12:0001']

vnc=1
vnclisten=""
vncpasswd=""

spoof_xen=1
spoof_viridian=1

#vga="none"
vga = "stdvga"
spice = 1 
spiceport = 6001
spicedisable_ticketing=1
#spiceusbredirection=4
#spice_clipboard_sharing=1
#soundhw="ac97"
soundhw="hda"